<div id="<%= dom_id person %>">
  <p>
    <strong>Name:</strong>
    <%= person.name %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= person.document %>
  </p>

  <p>
    <strong>Type document:</strong>
    <%= person.type_document %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= person.gender %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= person.phone %>
  </p>

</div>
