<div id="<%= dom_id event %>">
  <p>
    <strong>Title:</strong>
    <%= event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Start at:</strong>
    <%= event.start_at %>
  </p>

  <p>
    <strong>End at:</strong>
    <%= event.end_at %>
  </p>

  <p>
    <strong>State:</strong>
    <%= event.state %>
  </p>

  <p>
    <strong>Created by:</strong>
    <%= event.created_by %>
  </p>

</div>
