<div id="<%= dom_id user_event %>">
  <p>
    <strong>Type:</strong>
    <%= user_event.type %>
  </p>

  <p>
    <strong>Checkin at:</strong>
    <%= user_event.checkin_at %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= user_event.code %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_event.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= user_event.event_id %>
  </p>

</div>
